h1{
  margin-left: auto;
 margin-right: auto;
 color: yellow;
 background-color: blue;
 border: 5px dashed red;
 padding: 50px;
 margin: 100px;
 width: 300px;
}
h2{
  color: blue;
  background-color: red;
  border: 5px solid brown;
  padding:5px;
  margin: 5px;
  width:150px;
}
img{
  background-color: blue;
  border:10px dashed red;
}
p{
  color: blue;
  background-color: pink;
}
